
// Portfolio
.card
  border: 1px solid #ccc
  &-header
    width: 100%
    float: left
    background: #f1f2f2
    position: relative
    &-img
     height: 160px
     width: 100%
.goal-name
  padding: 5px 0 5px 10px
  width: 100%
  height: 40px
  position: absolute
  bottom: -9px
  font-size: 20px
  color: #fff
  background: #100f0f85
.cell-text
  padding: 10px 15px

// Portfolio detail page  

.table
  margin-bottom: 0
  .thead-main-title tr
    border: 1px solid #ddd
  .thead-body-title
    border-right: 1px solid #ddd
    &-head
      position: absolute
      top: 0
      left: 0
      width: 6px
      height: 100%
      background: red
  thead tr th
    width: 25%
    position: relative
    padding-left: 20px
  tbody tr
    border: 1px solid #ddd
    td
      position: relative
      padding-left: 20px
      a
        margin-left: 10px
      a:hover
        cursor: pointer
        text-decoration: none
    input
      width: 25%  
    button  
      background: #ccc
      color: #000
      border: 1px solid #bebdbd  